<% if logged_in? %>
  <div class="container">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">

      </section>
    </aside>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Time Manegement Apps</h1>
  <h2>
    時間を効率的に使いたい。そんな人のために。
  </h2>
  <%= link_to "新規登録はこちらから", signup_path, class: "btn-gradient-3d-orange" %>
</div>
<% end %>